<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/logo-name.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template | Orchestrator</title>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-T1JHQ2ZEHN"
    ></script>
    <script>
      globalThis.dataLayer = globalThis.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-T1JHQ2ZEHN");
    </script>
    <script type="module" crossorigin src="/assets/index-BnIAtjvb.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-Ml0TGXTK.css">
    <meta name="description" content="A sample Virtual Private Cloud (VPC) template with configurable subnets to demonstrate basic network architecture and generate Terraform Infrastructure as Code.">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Template | Orchestrator">
  <meta property="og:description" content="A sample Virtual Private Cloud (VPC) template with configurable subnets to demonstrate basic network architecture and generate Terraform Infrastructure as Code.">
  <meta property="og:url" content="https://orchestrator.next-zen.dev/templates/ad9465f2-3594-4cdb-82de-ab712ed1d4d7">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Template | Orchestrator">
  <meta name="twitter:description" content="A sample Virtual Private Cloud (VPC) template with configurable subnets to demonstrate basic network architecture and generate Terraform Infrastructure as Code.">
  <link rel="canonical" href="https://orchestrator.next-zen.dev/templates/ad9465f2-3594-4cdb-82de-ab712ed1d4d7">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
