/* Header.module.css */
.appBar {
    background-color: #057474;
    /* Material UI primary blue */
    box-shadow: none;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--main);
    text-decoration: none;
    font-weight: bold;
}

.controls {
    display: flex;
    align-items: center;
    gap: 16px;
}

.controlItem {
    min-width: 120px;
}

.switchContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bolder;
}

.switchLabel {
    color: var(--text1);
}