.toggleWrapper {
  cursor: pointer;
  width: 42px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 4px;
  transition: background-color 0.3s ease;
}

.toggleTrack {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative;
}

.icon {
  position: absolute;
  top: 6;
  width: 24px;
  height: 24px;
  background-color: var(--main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  transition: transform 0.3s ease;
}

.light .icon {
  transform: translateX(-4px);
}

.dark .icon {
  transform: translateX(30px);
}
