/* CodeEditor.module.css */

.editorWrapper {
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

/* Light theme box shadow */
.lightTheme {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* Dark theme box shadow */
.darkTheme {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
}
