.sky {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background: radial-gradient(circle at center, #0D1B2A 0%, #000000 100%);
    z-index: 0;
    pointer-events: none;
}

.starsLayer {
    position: absolute;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    transform-origin: center center;
    transition: transform 0.3s ease-out;
}

.rotateLayer {
    width: 100%;
    height: 100%;
    animation: rotateStars 1200s linear infinite;
}

@keyframes rotateStars {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.star {
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    background: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0.3) 60%, transparent 100%);
    animation: twinkle var(--twinkle-duration) ease-in-out var(--twinkle-delay) infinite alternate;
}


.star::before,
.star::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.9), transparent);
    width: 150%;
    height: 1px;
    top: 50%;
    left: -25%;
}

.star::after {
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9), transparent);
    width: 1px;
    height: 150%;
    top: -25%;
    left: 50%;
}

.bigStar {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 
              0 0 30px rgba(200, 200, 255, 0.6);
  opacity: 1;
}

@keyframes twinkle {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.3);
    }
}
