.wrapperHeader {
  font-size: 1.6rem;
  margin: 10px 0 5px 16px;
  color: var(--primary);
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
}

.card {
  position: relative;
  width: 220px;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--card-bg);
  color: var(--card-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card .cloudTypeLogo {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 32px 0 32px 32px;
  background-color: var(--card-bg);
  box-shadow: 0 0 3px var(--text-color);
}

.cardTitle {
  margin: 10px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary)
}

.cardDescription {
  font-size: 0.9rem;
  margin: 5px 0 10px 0;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
  opacity: 0.7;
  transition: opacity 0.1s ease 0.1s;
}

.card:hover .cardImage {
  opacity: 1;
}

.cardBlank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}