/* index.css or App.css */
:root {
  --bg-color: #fafafa;
  --card-bg: #fff;
  --card-color: #333;
  --text-color: #666;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --card-bg: #444;
  --card-color: #ddd;
  --text-color: #aaa;
}

[data-theme='light'] {
  --bg-color: #fafafa;
  --card-bg: #f4f4f4;
  --card-color: #333;
  --text-color: #666;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
