/* index.css or App.css */
body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.component-body {
    max-height: calc(100vh - 64px);
    overflow-y: auto;
}
